.conteiner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    font-size:20px;
    align-items:center;
    padding:20px;
    margin:auto;
    margin-top: 3%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
