@page "/user/personaldata"

@inject IHttpContextAccessor HttpContextAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]




<style>

    /* From Uiverse.io by alexruix */
    .card {
    
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        padding: 1.8rem;
      
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;
      
    }

    .card-details {
        color: black;
        height: 100%;
        gap: .5em;
        display: grid;
        place-content: center;
        align-items: center;
    }

    .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: #008bf8;
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }

    .text-body {
        color: rgb(134, 134, 134);
        font-size:20px;
    }

    /*Text*/
    .text-title {
        font-size: 1em;
        font-weight: bold;
    }

    /*Hover*/
    .card:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }

        .card:hover .card-button {
            transform: translate(-50%, 50%);
            opacity: 1;
        }

</style> 



<div  class="conteiner">

    <div class="card">
        <div class="card-details">
            <img width="320" height="320" src="https://img.icons8.com/pulsar-gradient/1500/user.png" alt="user" />
            <p class="text-title"> @HttpContextAccessor.HttpContext!.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value</p>
            <p class="text-body">Legajo: @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "leg")?.Value</p>
            <p class="text-body">Email: @HttpContextAccessor.HttpContext!.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value </p>
            <p class="text-body">DNI:@HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "dni")?.Value</p>

        </div>

    </div>

</div>

@code {
    private string legajo;
    private string dni;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Accedemos al claim personalizado 'Leg'
            legajo = user.Claims.FirstOrDefault(c => c.Type == "Leg")?.Value;

            // Accedemos al claim personalizado 'Dni'
            dni = user.Claims.FirstOrDefault(c => c.Type == "Dni")?.Value;
        }
        else
        {
            legajo = "No autenticado";
            dni = "No autenticado";
        }
    }
}







