

@inherits LayoutComponentBase


<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>


    <main>

            

        <div class="top-row px-4">
        <div class="opcionesMovile">
                <a href="/myReceipts">Tus recibos</a>
                <a href="/user/license">Licencia</a>
                <a href="/user/vacation">Vacaciones</a>
            </div>

            <label class="popup">
                <input type="checkbox" />
                <div tabindex="0" class="burger">
                    <svg viewBox="0 0 24 24"
                         fill="white"
                         height="20"
                         width="20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"></path>
                    </svg>
                </div>
                <nav class="popup-window">
                    <Profile /> 
                </nav>
            </label>
        </div>

        <article class="px-4" style="min-height: 100vh; background-image: url('https://i.ibb.co/HP15C0D/masthead-watter-bg.png'); background-size:cover; background-repeat:no-repeat;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code{



}